/build/
/tests/
cmake-build-*/
/out/

*.code-workspace
.vscode/
.agents/
.cache
.idea/
.clangd
.clang-tidy

*.exe
*.so
*.dylib
/.agents/
/.antigravityignore

settings.json
assets/SaveGameFiles/
assets/datas/levels/custom-map.json
assets/datas/leaderboards.json